<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>用户修改</title>
</head>
<body>
<div layout:fragment="content">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>编辑角色信息 <i class="fa fa-user"></i></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="clearfix"></div>
                        <form class="form-horizontal form-label-left" th:action="@{/role/up}" action="/role/up" method="post">
                            <input type="hidden" name="roleId" th:value="${role.roleId}" />
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="roleName"> 角色名称 <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="roleName" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="roleName" required="required"
                                           placeholder="请输入角色名称" type="text"
                                           th:value="${role.roleName}">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="roleDesc"> 角色描述
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="roleDesc" class="form-control col-md-7 col-xs-12"
                                           data-validate-length-range="10" data-validate-words="1" name="roleDesc"
                                           placeholder="请输入描述" type="text"
                                           th:value="${role.roleDesc}"/>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="roleFlag"> 角色状态
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="roleFlag"  name="roleFlag" type="checkbox" value="1"
                                           th:checked="${role.roleFlag==1}"/>
                                    (是否启用)
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> 指派权限
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12" style="padding-top: 7px;">
                                    <!--你的权限等于所有权限中的一个 ，就被勾上-->
                                        <li th:each="right1:${session.rightSet}"
                                            th:if="${right1.rightType=='Folder'}">
                                            <input name="rightCodes" type="checkbox" th:value="${right1.rightCode}"
                                                   th:checked="${code.contains(right1.getRightCode())}"/>
                                            <span th:text="${right1.rightText}">一级权限</span>
                                            <ul style="list-style: none;line-height: 6px">
                                                <li th:each="right2:${session.rightSet}" th:if="${right2.rightType=='Document' && right2.rightParentCode==right1.rightCode}" style="line-height: 40px">
                                                    <input type="checkbox" name="rightCodes" th:value="${right2.rightCode}"
                                                           th:checked="${code.contains(right2.getRightCode())}"/>
                                                    <span th:text="${right2.rightText}">二级权限</span>
                                                    <ul style="list-style: none;line-height:10px;margin-top: 35px" >
                                                        <li th:each="right3:${session.rightSet}" th:if="${right3.rightType=='Url' && right3.rightParentCode==right2.rightCode}" style="line-height: 50px;padding-left: 200px;">
                                                            <input type="checkbox" name="rightCodes" th:value="${right3.rightCode}"
                                                                   th:checked="${code.contains(right3.getRightCode())}"/>
                                                            <span th:text="${right3.rightText}">三级权限</span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3" style="margin-top:100px">
                                    <button id="send" type="submit" class="btn btn-success">保存</button>
                                    <button type="button" class="btn btn-primary" id="back">返回</button>
                                    <br/><br/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="js">
    $(document).ready(function(){
        $("#back").on("click",function(){
            window.history.back();
        });
    });
</script>
</html>